@font-face {
    font-family: RobotoCondensed_regular;
    src: url("../fonts/RobotoCondensed_regular/RobotoCondensedRegular.ttf");
}
@font-face {
    font-family: RobotoCondensed_bold;
    src: url("../fonts/RobotoCondensed_bold/RobotoCondensedBold.ttf");
}
@font-face {
    font-family: RobotoCondensed_light;
    src: url("../fonts/RobotoCondensed_light/RobotoCondensedLight.ttf");
}





label {
    font-family: RobotoCondensed_regular;
    padding-top: 5px;
}
input {
    padding: 5px;
    margin-bottom: 5px;
}

#p {
    text-align: center;
    font-family: RobotoCondensed_regular;
    font-size: 14px;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
}

button {
    padding:15px;
    font-family: RobotoCondensed_regular;
    font-size: 20px;
}

#container > h2 {
    text-align: center;
    font-family: RobotoCondensed_regular;
    font-size: 20px;
    text-decoration: underline;
    padding-top: 50px;
    padding-bottom: 50px;
}
#container > h2:hover {
    cursor: pointer;
}


#contact {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
}

#contact > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 10%;
    background-color: white;
    text-align: center;
    border-radius: 20px;
    flex-direction: column;
}

#contact.hide {
    display: none;
}

#feedback.hide {
    display: none;
}

#feedback{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    z-index: 1;
    height: 20%;
    width: 90%;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#feedback > button#close{
    width: 90%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#feedback  > p {
    font-size: 15px;
}