header.quiz {
    margin-bottom: 40px;
}

#logged_in {
    background-color: white;
    border-radius: 10px;
    display: flex;
    position: absolute;
    top: 55px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin-top:20px;
    width: 76%;
}

#user {
    position: absolute;
    left: 10px;
}

#logout {
    position: absolute;
    right: 10px;
    padding: 1px;
}

.image {
    width: 100%;
    background-size: cover;
    background-position: center;
    margin-top: 5vh;
    margin-bottom: 10px;
    border-radius: 20px;
}

.options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 5px;

}

.options > div {
    background-color: rgba(255, 255, 255, 0.582);
    border: purple solid 2px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding:5px;
}
.options > div:hover {
    cursor: pointer;
}

#answer_feedback.hide {
    display: none;
}

#answer_feedback {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
}

#answer_feedback > div {
    width: 88%;
    height: 20vh;
    background-color: violet;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

#answer_feedback > div > p {
    font-size: 4vh;
    margin: 0;
    padding-bottom: 10px;
}
#answer_feedback > div > button {
    width: 80%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container.quiz {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

footer.quiz {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}